HTTP_PORT=80
DATA_PROVIDER=mqtt
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_STATE_TOPIC=virtual-smart-meter/og/measurement
MQTT_QOS=1
MQTT_RETAIN_EXPECTED=true
MDNS_ENABLED=true
DISCOVERY_REQUIRE_MEASUREMENT=true
DEBUG_ENDPOINT_ENABLED=true
